.car-shows-tree-invisible {
    display: none;
  }
  
  .car-shows-tree ul,
  .car-shows-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .error-message {
    width: 100%;
    text-align: center;
    color: red;
    font-size: x-large;
  }